.productmain { clear: both; width: 100%; height: 195px; background: #F3F3F3; }
.productmain .wrap { margin: 0 auto; width: 1180px; height: 195px;
 overflow: hidden; }

.productpath { clear: both; margin: 0 auto; padding-left: 10px;
 width: 1170px; height: 25px; line-height: 25px; overflow: hidden; }
.productpath span { margin: 0 8px; }

.productlist { clear: both; margin: 0 auto; width: 1180px; 
	background: #FFFFFF; overflow: hidden; }
.productlist .listleft { float: left; margin: 0; padding: 0; width: 242px; 
	overflow: hidden; }
.productlist .listleft .listwrap { float: left; margin: 0; padding: 0; 
	width: 240px; border: 1px solid #CECECE; overflow: hidden; }
.productlist .listleft .listwrap .listhead { float: left; margin: 0;
 padding: 0; width: 240px; height: 35px; line-height: 35px; 
 background: url(../img/goodList/headbg.png); text-indent: 10px; 
 overflow: hidden; font-weight: bold; }
.productlist .listleft .listwrap .listnode { float: left; margin: 0; 
	padding: 15px 19px 5px 19px; width: 202px; }
.productlist .listleft .listwrap .listnode .nodehead { float: left; 
	width: 202px; height: 35px; line-height: 20px; font-weight: bold;
	font-size:14px; }
.productlist .listleft .listwrap .listnode .nodehead .defaultdehead { 
	padding: 0 9px;cursor:pointer;}
.productlist .listleft .listwrap .listnode .nodehead .nodeshow { padding: 0 9px; 
	background: url(../img/goodList/showbg.png) no-repeat 0 1px; }
.productlist .listleft .listwrap .listnode .nodehead .nodehide { padding: 0 9px; 
	background: url(../img/goodList/hidebg.png) no-repeat 0 1px; }
.productlist .listleft .listwrap .listnode .nodeitem { float: left; 
	margin-bottom: 15px; padding: 5px 0; width: 202px; line-height: 30px; 
	border-top: 1px dashed #D1D1D1; border-bottom: 1px dashed #D1D1D1; 
	background: #FAFAFA; }
.productlist .listleft .listwrap .listnode .nodeitem .itemname { float: left; 
	padding-left: 21px; width: 80px; }
.productlist .listleft .listwrap .listhots { float: left;
 padding: 19px 19px 6px 19px; width: 202px; }
.productlist .listleft .listwrap .listhots .productimg { float: left; 
	width: 200px; height: 200px; }
.productlist .listleft .listwrap .listhots .productimg img { width: 200px; 
	height: 200px; border: 1px solid #D2D2D2; }
.productlist .listleft .listwrap .listhots .productname { float: left;
 width: 202px; height: 40px; line-height: 40px; text-align: center; 
 overflow: hidden; }
.productlist .listleft .listwrap .listhots .productprice { float: left; 
	width: 202px; height: 35px; text-align: center; overflow: hidden; }
.productlist .listleft .listwrap .listhots .productprice span { font-size: 14px; 
	color: #DB3962; }
.productlist .listleft .listadwrap { float: left; margin-top: 10px; 
	padding: 0; width: 242px; overflow: hidden; }
.productlist .listleft .listadwrap .listaditem { float: left; margin-top: 10px; 
	width: 240px; border: 1px solid #D2D2D2; }

.productlist .listright { float: right; width: 922px; }
.productlist .listright .listadwrap { float: left; width: 922px; height: 216px; }
.productlist .listright .listadwrap .listadleft { float: left; padding: 12px; 
	width: 430px; height: 170px; border: 1px solid #D2D2D2; }
.productlist .listright .listadwrap .listadright { float: right; padding: 12px; 
	width: 430px; height: 170px; border: 1px solid #D2D2D2; }
.productlist .listright .listselect { float: left; padding: 10px 0; width: 920px; 
	border: 1px solid #CECECE; background: #F8F8F8; overflow: hidden; }
.productlist .listright .listselect .selectwrap { clear: both; margin: 0 auto; 
	width: 900px; height: 40px; border-bottom: 1px dashed #CECECE; }
.productlist .listright .listselect .selectwrap .wraphead { float: left; 
	padding-left: 10px; width: 50px; height: 40px; line-height: 40px; 
	color: #DB3962; }
.productlist .listright .listselect .selectwrap .wrapitem { float: left; 
	height: 40px; line-height: 40px; }
.productlist .listright .listselect .selectwrap .wrapitem .span { float: left;
	padding:0 15px; }
.productlist .listright .listselect .selectwrap .wrapitem .w030 { float: left;
 width: 30px; }
.productlist .listright .listselect .selectwrap .wrapitem .w045 { float: left;
 width: 45px; }
.productlist .listright .listselect .selectwrap .wrapitem .w050 { float: left; 
	width: 50px; }
.productlist .listright .listselect .selectwrap .wrapitem .w055 { float: left; 
	width: 55px; }
.productlist .listright .listselect .selectwrap .wrapitem .w070 { float: left;
 width: 70px; }
.productlist .listright .listselect .selectwrap .wrapitem .w080 { float: left; 
	width: 80px; }
.productlist .listright .listselect .selectwrap .wrapitem .w250 { float: left;
 width: 250px; }
.productlist .listright .listselect .selectwrap .wrapitem .select { float: left;
 margin-right: 10px; margin-top: 7px; padding: 0 8px; line-height: 26px;
  color: #FFFFFF; background: #DB3962; }
.productlist .listright .listselect .selectwrap .wrapitem .select a { 
	background-color:#fff;}
.productlist .listright .listselect .selectwrap .clearallitem { float: left;
 height: 40px; line-height: 40px;margin-left:200px; }
.productlist .listright .listselect .selectwrap .clearallitem  a { 
	background-color:#fff;}
.productlist .listright .listselect .selectedwrap  { border-bottom:none;
	background:#f5f3f3;}

.productlist .listright .listheader { float: left; margin-top: 20px; 
	padding: 0; width: 920px; height: 35px; line-height: 35px;
	 border: 1px solid #CECECE; background: url(../img/goodList/headbg.png);
	  overflow: hidden; }
.productlist .listright .listheader .headeritem { float: left; width: 70px; 
	height: 35px; text-align: center; }
.productlist .listright .listheader .headerline { float: left; width: 12px; 
	height: 35px; background: url(../img/goodList/linebg.png); }

.productlist .listright .listwraper { float: left; margin-top: 20px; 
	padding: 0; width: 921px; border-top: 1px solid #CECECE; 
	border-left: 1px solid #CECECE; overflow: hidden; }
.productlist .listright .listwraper .wraperitem { float: left; width: 306px; 
	height: 290px; border-right: 1px solid #CECECE; 
	border-bottom: 1px solid #CECECE; overflow: hidden; }
.productlist .listright .listwraper .wraperitem .itemimg { margin: 0 auto;
 width: 200px; height: 210px; }
.productlist .listright .listwraper .wraperitem .itemimg img { width: 200px; 
	height: 200px; border: none;margin:10px; }
.productlist .listright .listwraper .wraperitem .itemname { float: left; 
	width: 306px; height: 40px; line-height: 30px; font-size: 14px; 
	text-align: center; overflow: hidden; }
.productlist .listright .listwraper .wraperitem .itemprice { float: left; 
	width: 306px; height: 40px; background: #F8F8F8; overflow: hidden; }
.productlist .listright .listwraper .wraperitem .itemprice .pricemarket { 
	float: left; padding-left: 13px; width: 140px; height: 40px; 
	line-height: 40px; }
.productlist .listright .listwraper .wraperitem .itemprice .pricemember { 
	float: right; padding-right: 13px; width: 140px; height: 40px; 
	line-height: 40px; text-align: right; }
.productlist .listright .listwraper .wraperitem .itemprice .pricemember span {
	font-size: 14px; color: #DB3962; }

.productlist .listright .listpager { float: left; padding: 22px 20px 30px 20px; 
	width: 880px; text-align: right; }
.productlist .listright .listpager a { margin: 0 5px; padding: 5px 8px; 
	font-size: 12px; border: solid 1px #D2D2D2; background: #EEEEEE; }
.productlist .listright .listpager a:hover { text-decoration: none; 
	background: #D8D8D8; }
.productlist .listright .listpager span { margin: 0 5px; padding: 0 8px; }
.productlist .listright .listpager span.m { padding: 2px; }
.productlist .listright .listpager span.c { padding: 5px 8px; 
	border: solid 1px #D2D2D2; background: #D8D8D8; }
.munuclass_none { display:none;}
.showsearchkey { color:#fa773e;font-weight:bold;}
.selectedalink { color:red;font-weight:bold;}