body { margin: 0; padding: 0; font: 12px "microsoft yahei"; color: #222222; background: #F1F1F1; }

.productbody { margin: 0 auto 20px auto; width: 1180px; }

.productnone { display: none; }

.productpath { float: left; width: 1180px; height: 50px; line-height:50px; text-indent:15px; }
.productpath span { margin: 0 8px; }

.productmain { float: left; width: 1180px; }

.productitem { float: left; width: 1178px; border: 1px solid #D2D2D2; background: #FFFFFF; }
.productitem .itemline { float: left; width: 1178px; height:15px; border-top: 2px solid #FFC0C1; }

.productitem .itemleft { float: left; padding: 15px 25px; width: 450px;  border-right: 1px solid #D2D2D2; }
.productitem .itemleft .large { float: left; margin: 0 10px; width: 422px; height: 422px; text-align: center; }
.productitem .itemleft .large img { border: none; }
.productitem .itemleft .small { float: left; margin: 10px 10px 0 10px; width: 422px; height: 102px; text-align: center; overflow: hidden; }
.productitem .itemright { float: right; padding: 15px 5px; width: 600px; }
.productitem .itemright .none { display: none; }
.productitem .itemright .list { float: left; width: 530px; }
.productitem .itemright .list .text { float: left; width: 100px; line-height: 38px; text-align: right; overflow: hidden; }
.productitem .itemright .list .data { float: left; width: 430px; line-height: 38px; }
.productitem .itemright .list .bold { font-weight: bold; font-size: 13px; }
.productitem .itemright .list .price { color: #DB3962; font-size: 14px; font-weight: bold; }
.productitem .itemright .list .market { color: #888888; font-size: 14px; font-weight: bold; text-decoration: line-through; }
.productitem .itemright .list .diygo { position: relative; top: 4px; }
.productitem .itemright .list .crave { padding: 2px; width: 80px; height: 17px; margin-right: 10px; border: 1px solid #CCCCCC; }
.productitem .itemright .list .consult { color: red; }
.productitem .itemright .list .diamond { color: #A00005; }
.productitem .itemright .list .materia { padding: 5px 10px; background: #CCCCCC; margin-right: 8px; cursor: pointer; }
.productitem .itemright .list .materia:hover { background: #DB3962; color: #FFFFFF; }
.productitem .itemright .list .materiaselect { padding: 5px 10px; background: #DB3962; color: #FFFFFF; margin-right: 8px; cursor: pointer; }
.productitem .itemright .list .dropdown { padding: 2px; margin-top: 8px; border: 1px solid #CCCCCC; }
.productitem .itemright .info { float: left; margin-top: 10px; margin-left: 40px; padding-top: 10px; width: 450px; border-top: 1px dashed #D2D2D2; }
.productitem .itemright .info .total { float: left; width: 450px; line-height: 30px; color: red; }
.productitem .itemright .info .remark { float: left; width: 450px; height: 30px; line-height: 25px; }
.productitem .itemright .info .button { float: left; width: 450px; height: 60px; overflow: hidden; }
.productitem .itemright .info .button .addtocart_zuan { float: left; margin-top: 12px; margin-right: 12px; background: url(/images/common/addtocart_zuan.png) no-repeat; width: 227px; height: 42px; line-height: 42px; cursor: pointer;}
.productitem .itemright .info .button .addtocart { float: left; margin-top: 12px; margin-right: 12px; background: url(/images/common/addtocart.png) no-repeat; width: 126px; height: 42px; line-height: 42px; cursor: pointer;}
.productitem .itemright .info .button .addtofavor { float: left; margin-top: 12px; margin-right: 12px; background: url(/images/common/addtofavor.png) no-repeat; width: 126px; height: 42px; line-height: 42px; cursor: pointer;}

.productcont { float: left; padding-top: 20px; width: 1180px; }
.productcont .contleft { float: left; width: 242px; }
.productcont .contleft .lefthead { float: left; width: 240px; height: 35px; line-height: 35px; text-indent:10px; font-weight: bold; border: 1px solid #D2D2D2; background: url(/images/common/listbg.gif); color: #DB3962; }
.productcont .contleft .security { float: left; width: 240px; height: 231px; border-left: 1px solid #D2D2D2; border-right: 1px solid #D2D2D2; border-bottom: 1px solid #D2D2D2; }
.productcont .contleft .lefthots { float: left; margin-top: 20px; width: 240px; height: 35px; line-height: 35px; text-indent:10px; font-weight: bold; border: 1px solid #D2D2D2; background: url(/images/common/listbg.gif); }
.productcont .contleft .hotslist { float: left; width: 240px; border-left: 1px solid #D2D2D2; border-right: 1px solid #D2D2D2; }
.productcont .contleft .hotsimgs { float: left; padding:5px 0; width: 240px; height: 200px; text-align:center; background:#FFFFFF; }
.productcont .contleft .hotsimgs img { width: 200px; height: 200px; border: none; }
.productcont .contleft .hotstext { float: left; padding: 0 5px; width: 230px; height: 36px; line-height: 30px; text-align: center; border-bottom: 1px solid #D2D2D2; background:#FFFFFF; overflow: hidden; }

.productcont .contright { float: right; width: 910px; border: 1px solid #D2D2D2; background:#FFFFFF; }
.productcont .contright .righthead { float: left; width: 910px; height: 35px; line-height: 35px; text-align: center; font-weight: bold; border-bottom: 1px solid #D2D2D2; background: url(/images/common/listbg.gif); }
.productcont .contright .rightstop { position: fixed; top: 0; z-index: 100; }
.productcont .contright .righthead .headnormal { float: left; width: 100px; height: 35px; line-height: 35px; border-right: 1px solid #D2D2D2; cursor: pointer; }
.productcont .contright .righthead .headselect { float: left; width: 100px; height: 35px; line-height: 35px; border-right: 1px solid #D2D2D2; cursor: pointer; }

.productcont .contright .productfuwu { float: left; width: 712px; text-align: left; padding: 20px 98px; line-height: 24px; height: auto; }
.productcont .contright .productfuwu p { float: left; text-indent: 24px; clear: both; width: 712px; }
.productcont .contright .productfuwu strong { float: left; width: 712px; clear: both; border-bottom: 1px solid #ddd; margin-bottom: 12px; padding: 20px 0 12px 0; background: url(/images/detail/logobg.gif) no-repeat 0 20px; text-indent: 28px; font-size: 14px; }
.productcont .contright .productfuwu center img { padding: 12px 0; }
.productcont .contright .productfuwu table { padding: 20px 0 0 0; }
.productcont .contright .productpack { float: left; width: 700px; height: 290px; background: url(/images/detail/cpt8.jpg) no-repeat; margin: 20px 0 0 0; }
.productcont .contright .productpack p { float: right; width: 290px; text-indent: 24px; padding: 25px 20px 0 0; }
.productcont .contright .productsend { float: left; width: 700px; height: 280px; background: url(/images/detail/cpt9.jpg) no-repeat; margin-top: 10px; }
.productcont .contright .productsend p { float: left; width: 274px; margin: 40px 0 0 47px; text-indent: 24px; }
.productcont .contright .productlist { float: left; width: 712px; text-align: center; padding: 20px 45px 0 80px; clear: both; }
.productcont .contright .productlist img { min-width: 712px; padding: 20px; }
.productcont .contright .productlist p { text-align: left; line-height: 30px; width: 712px; clear: both; }

.ui-jcarousel-skin .jcarousel-container { background: #FFFFFF; }
.ui-jcarousel-skin .jcarousel-container-horizontal { padding: 1px 18px; width: 384px; }
.ui-jcarousel-skin .jcarousel-clip { overflow: hidden; }
.ui-jcarousel-skin .jcarousel-clip-horizontal { width: 384px; height: 98px; }
.ui-jcarousel-skin .jcarousel-item { width: 95px; height: 98px; }
.ui-jcarousel-skin .jcarousel-item-horizontal { margin-left: 1px; margin-right: 1px; }
.ui-jcarousel-skin .jcarousel-item-placeholder { color: #000000; background: #FFFFFF; }
.ui-jcarousel-skin .jcarousel-direction-rtl { direction: rtl; }
.ui-jcarousel-skin .jcarousel-direction-rtl .jcarousel-item-horizontal { margin-left: 1px; margin-right: 1px; }
.ui-jcarousel-skin .jcarousel-next-horizontal { position: absolute; top: 0; right: 0; width: 18px; height: 90px; background: url(/images/jquery/jcarousel/ui-jcarousel-next.gif) no-repeat 0 0; cursor: pointer; }
.ui-jcarousel-skin .jcarousel-next-horizontal:hover, .ui-jcarousel-skin .jcarousel-next-horizontal:focus { background-position: -18px 0; }
.ui-jcarousel-skin .jcarousel-next-horizontal:active { background-position: -36px 0; }
.ui-jcarousel-skin .jcarousel-next-disabled-horizontal, .ui-jcarousel-skin .jcarousel-next-disabled-horizontal:hover, .ui-jcarousel-skin .jcarousel-next-disabled-horizontal:focus, .ui-jcarousel-skin .jcarousel-next-disabled-horizontal:active { background-position: -54px 0; cursor: default; }
.ui-jcarousel-skin .jcarousel-direction-rtl .jcarousel-next-horizontal { left: auto; right: auto; background-image: url(/images/jquery/jcarousel/ui-jcarousel-prev.gif); }
.ui-jcarousel-skin .jcarousel-prev-horizontal { position: absolute; top: 0; left: 0; width: 18px; height: 90px; background: url(/images/jquery/jcarousel/ui-jcarousel-prev.gif) no-repeat 0 0; cursor: pointer; }
.ui-jcarousel-skin .jcarousel-prev-horizontal:hover, .ui-jcarousel-skin .jcarousel-prev-horizontal:focus { background-position: -18px 0; }
.ui-jcarousel-skin .jcarousel-prev-horizontal:active { background-position: -36px 0; }
.ui-jcarousel-skin .jcarousel-prev-disabled-horizontal, .ui-jcarousel-skin .jcarousel-prev-disabled-horizontal:hover, .ui-jcarousel-skin .jcarousel-prev-disabled-horizontal:focus, .ui-jcarousel-skin .jcarousel-prev-disabled-horizontal:active { background-position: -54px 0; cursor: default; }
.ui-jcarousel-skin .jcarousel-direction-rtl .jcarousel-prev-horizontal { left: auto; right: auto; background-image: url(/images/jquery/jcarousel/ui-jcarousel-next.gif); }
.ui-jcarousel-skin .jcarousel-item a { float: left; padding: 4px 1px; width: 90px; height: 90px; background: #FFFFFF url(/images/jquery/jcarousel/ui-jcarousel-item.gif) no-repeat 0 0; }
.ui-jcarousel-skin .jcarousel-item a:hover { background: #FFFFFF url(/images/jquery/jcarousel/ui-jcarousel-item.gif) no-repeat -92px 0; }
.ui-jcarousel-skin .jcarousel-item a.ui-zoom-active { background: #FFFFFF url(/images/jquery/jcarousel/ui-jcarousel-item.gif) no-repeat -184px 0; }
.ui-jcarousel-skin .jcarousel-item img { width: 90px; height: 90px; border: none; }

.ui-zoom-pad { float: left; position: relative; z-index: 996; cursor: crosshair; }
.ui-zoom-pup { position: absolute; z-index: 111; border: 1px solid #D2D2D2; background-color: #FFFFFF; cursor: crosshair; -moz-opacity: 0.6; opacity: 0.6; filter: alpha(opacity = 60); overflow: hidden; }
.ui-zoom-preload { padding: 8px; width: 90px; height: 20px; line-height: 20px; text-align: center; text-decoration: none; font-size: 12px; font-family: Arial; color: #333333; position: absolute; top: 0; left: 0; z-index: 111; border: 1px solid #D2D2D2; background-color: white; -moz-opacity: 0.8; opacity: 0.8; filter: alpha(opacity=80); }
.ui-zoom-iframe { display: block; position: absolute; z-index: -1; -moz-opacity: 0.80; opacity: 0.80; filter: alpha(opacity=0); }
.ui-zoom-window { height: auto; position: absolute; z-index: 996; top: 40px; left: 100%; background: #FFFFFF; }
.ui-zoom-wrapper { position: relative; z-index: 111; border: 1px solid #D2D2D2; }
.ui-zoom-wrappertitle { display: block; width: 100%; height: 20px; line-height: 20px; text-align: center; font-size: 11px; color: #FFFFFF; position: absolute; z-index: 222; top: 0; left: 0; background: #D2D2D2; -moz-opacity: 0.6; opacity: 0.6; filter: alpha(opacity = 60); overflow: hidden; }
.ui-zoom-wrapperimage { display: block; position: relative; z-index: 111; overflow: hidden; }
.ui-zoom-wrapperimage img { display: block; position: absolute; z-index: 111; border: none; }
